html{
  height:100%;
}

@font-face {
  font-family: 'PrimeIcons';
  src: url('icons/primeicons.ttf') format('truetype'),
       url('icons/primeicons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  margin: 0;
  padding-bottom: 2rem;
  font-family: 'Lato', sans-serif;
  position: relative;
  min-height: 100%;
  overflow-y: scroll;
  background-color: white;
  color: black;
}

body.dark {
  background-color: black;
  color: white;
}

.website{
  max-width: none!important;
  min-width: 320px!important;
}


.nav-menu{
  background-color: #333;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: rgb(255, 72, 0);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-width: 320px;
  width: 100%;
  display: flex;
  z-index: 50;
  top: 0;
  position: fixed;
}

.nav-menu_all-item {
  padding-right: 0.75rem;
  background-color: #333;
  display:flex;
  align-items: center;
  flex-wrap: wrap;
  z-index: 50;
  justify-content: space-between;
  align-items: center;
  max-width: 69rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


.nav-menu a {
  border-collapse: collapse;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.nav-menu_all-item .pi {
  font-family: 'PrimeIcons';
  font-size: 1em;
  cursor: pointer;
  background-color:transparent;
  color: white;
  padding: 6px 8px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 72, 0);
}

.nav-menu_all-item a.active .pi-home:before {
  color: rgb(255, 72, 0); 
}


.pi-home:before {
  content: "\e925";
}

.pi-sun:before {
  content: "\e9c8";
  color: yellow;
}

.pi-moon:before {
  content: "\e9c7";
  color: magenta;
}

.pi-bars:before {
  content: "\e91d";
}

.nav-menu_table {
  column-gap: 0.5rem;
  align-items: center;
  display: flex;
  float: right;
  border-collapse: collapse;
}

ul.nav-menu_table_horizontal-list {
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
}

ul.nav-menu_table_horizontal-list li {
  display: inline-block;
}

ul.nav-menu_table_horizontal-list li a {
  font-size: 0.75rem;
  font-weight: 700;
  color: #f2f2f2;
  padding: 8px 12px;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul.nav-menu_table_horizontal-list li a.active {
  color: rgb(255, 72, 0);
}


ul.nav-menu_table_horizontal-list .icon-btn {
  background: none;
	color: inherit;
	border: none;
  width: 3rem;
  padding: 0.75em 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

ul.nav-menu_table_horizontal-list .openbtn2 {
  background: none;
	color: inherit;
	border: none;
  padding: 4px 6px;
  margin: 8px 16px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
  

main {
  padding-top: 4rem;
  justify-content: center;
  flex-direction: column;
  display:flex;
  max-width: 68rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 74px;
  width: 91.666667%;
}

section {
  opacity: 1;
  transform: none;
  margin-bottom: 6rem;
 }

.section-one-header {
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-underline-offset: 10px;
  text-decoration-line: underline;
  text-decoration-color: #3b82f6;
  text-decoration-style:solid;
  -webkit-text-decoration-color: #3b82f6;
  text-decoration-color: #3b82f6;
  -webkit-text-decoration-line: underline;
  line-height: 1.625;
 }

.section-one-profile-box {
  flex-direction: row;
  align-items: center;
  display: flex;
}

.section-one-profile-photo-box {
  padding: 0.5rem;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 2rem;
}

.section-one-profile-photo {
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  width: 250px;
  height: 250px;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

.section-one-profile-photo img{
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  border-radius: 9999px;
}

.section-one-profile-photo desc{
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  border-radius: 9999px;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 50;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
  
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
  
.sidebar a:hover {
  color: rgb(255, 72, 0);
}
  
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
  
.main {
  opacity: 1;
  transform: none;
  padding-top: 4rem;
  justify-content: center;
  flex-direction: column;
  max-width: 68rem;
  width: 91.666667%;
  min-height: 100vh;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
}
  
.footer-menu {
  background-color: #333;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-width: 320px;
  width: 100%;
  height: 48px;
  display: flex;
  z-index: 10;
  overflow: hidden;
  bottom: 0;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: rgb(255, 72, 0);
  position: absolute;
  right:0;
  left:0;
  bottom:0;
}

.footer-menu_table {
  display: flex;
  margin: 0 auto;
  border-collapse: collapse;
}

ul.footer-menu_table_horizontal-list {
  list-style: none;
  padding: 0px;
  text-decoration: none;
}

ul.footer-menu_table_horizontal-list li {
  display: inline;
}

ul.footer-menu_table_horizontal-list li a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul.footer-menu_table_horizontal-list li img {
  width:30px;
  height:30px;
  margin: 0px 8px 0px;
}

/*Music css */

.player{
  height: 95vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.wrapper{
  border: 1px solid transparent;
  padding: 30px;
  border-radius: 20px;
  background-color: #ddd;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
  
.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
  
.track-art {
  margin: 25px;
  height: 250px;
  width: 250px;
  border:2px solid 	#FFFAFA;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  -moz-box-shadow: 0px 6px 5px black;
  -webkit-box-shadow: 0px 6px 5px black;
  box-shadow: 0px 6px 5px black;
  -moz-border-radius:190px;
  -webkit-border-radius:190px;
  border-radius:190px;
}
  
.now-playing {
  font-size: 1rem;
}
  
.track-name {
  font-size: 2.5rem;
}
  
.track-artist {
  margin-top: 5px;
  font-size: 1.5rem;
}
  
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.active{
  color: black;
}
  
.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track {
  padding: 25px;
  opacity: 0.8;
  transition: opacity .2s;
}
  
.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1.0;
}
  
.slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: #83A9FF;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
  
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border: 3px solid #3774FF;
  cursor: grab;
  border-radius: 100%;
  }
  
.seek_slider:hover,
.volume_slider:hover {
  opacity: 1.0;
}
  
.seek_slider {
  width: 60%;
}
  
.volume_slider {
  width: 30%;
}
  
.current-time,
.total-duration {
  padding: 10px;
}
  
i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
}
  
i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward,
p {
  cursor: pointer;
}

.randomActive{
  color: black;
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
 }
  to {
    transform: rotate(359deg);
 }
}

.loader {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader .stroke{
  background: #f1f1f1;
  height: 150%;
  width: 10px;
  border-radius: 50px;
  margin: 0 5px;
  animation: animate 1.4s linear infinite;
}
    
@keyframes animate {
  50% {
    height: 20%;
    background: #4286f4;
  }
  
  100% {
    background: #4286f4;
    height: 100%;
    }
}
.stroke:nth-child(1){
  animation-delay: 0s;
}

.stroke:nth-child(2){
  animation-delay: 0.3s;
}

.stroke:nth-child(3){
  animation-delay: 0.6s;
}

.stroke:nth-child(4){
  animation-delay: 0.9s;
}

.stroke:nth-child(5){
  animation-delay: 0.6s;
}

.stroke:nth-child(6){
  animation-delay: 0.3s;
}

.stroke:nth-child(7){
  animation-delay: 0s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  
  .sidebar li {
    display: inline-block;
    overflow: hidden;
    padding-right: 14px;
  }

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (max-width: 767px) {
   /* For tablets: */
   .col-s-1 {width: 8.33%;}
   .col-s-2 {width: 16.66%;}
   .col-s-3 {width: 25%;}
   .col-s-4 {width: 33.33%;}
   .col-s-5 {width: 41.66%;}
   .col-s-6 {width: 50%;}
   .col-s-7 {width: 58.33%;}
   .col-s-8 {width: 66.66%;}
   .col-s-9 {width: 75%;}
   .col-s-10 {width: 83.33%;}
   .col-s-11 {width: 91.66%;}
   .col-s-12 {width: 100%;}


ul.nav-menu_table_horizontal-list li a {
  display:none;
}

.sidebar a.active {
  color: rgb(255, 72, 0);
}

.section-one-profile-box {
  flex-direction: column;
}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    ul.nav-menu_table_horizontal-list .openbtn .openNav {
      display:none;
    }

    ul.nav-menu_table_horizontal-list .openbtn2 {
      display:none;
    }
      
  }


  
