@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300&subset=latin,cyrillic-ext);
@font-face {
    font-family: 'pf_dintext_prolight';
    src: url('font/pfdintextpro-light-webfont.eot');
    src: url('font/pfdintextpro-light-webfont.eot?#iefix') format('embedded-opentype'), url('font/pfdintextpro-light-webfont.woff') format('woff'), url('font/pfdintextpro-light-webfont.ttf') format('truetype'), url('font/pfdintextpro-light-webfont.svg#pf_dintext_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}
html {
}
body {
    font: 13px/18px 'Open Sans', sans-serif;
    background: #141414;
    color: #8d8d8d;
}
a {
    color: #509bca;
    outline: none;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
p {
    margin: 0;
}
img {
    border: none;
}
input {
    vertical-align: middle;
}
br {
    clear: both;
}
.clearFix {
    clear: both;
}
.wrapper {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    top: 0px;
}
.logo {
    width: 56px;
    height: 56px;
    position: absolute;
    top: 50px;
    left: 20px;
}
.none {
    display: none;
}
/* Меню
====================================================== */
.menu {
    padding-top: 65px;
    margin-bottom: 30px;
    margin-left: 112px;
}
.menu li {
    display: inline;
    margin-right: 22px;
}
.menu li a {
    font-family: 'pf_dintext_prolight', sans-serif;
    font-size: 20px;
    color: #949494;
    font-weight: 300;
}
.menu a:hover {
    color: #8e7519;
}
.menu a span {
    color: #da2d16;
}
/* Слайдер
====================================================== */
#slider {
    width:800px;
    height:534px;
    position:relative;
    margin:0 auto;
}
#slider img {
    position:absolute;
    border:none;
    display:none;
}
.slider {
    width: 100%;
    position: relative;
}
.slider .left {
    width: 39px;
    height: 60px;
    background: url(img/strelki.png) 0 -177px no-repeat;
    position: absolute;
    top: 250px;
    cursor: pointer;
}
.slider .left:hover {
    width: 39px;
    height: 60px;
    background: url(img/strelki.png) 0 -118px no-repeat;
}
.slider .right {
    width: 39px;
    height: 60px;
    background: url(img/strelki.png) 0 -59px no-repeat;
    position: absolute;
    right: 0px;
    top: 250px;
    cursor: pointer;
}
.slider .right:hover {
    width: 39px;
    height: 60px;
    background: url(img/strelki.png) 0 0 no-repeat;
}
.photo {
    width: 800px;
    height: 534px;
    z-index: 10;
    margin: 0 auto;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.6);
}
.vm-video {
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.6);
}
.text {
    padding-left: 100px;
    padding-right: 100px;
    background: url("kontakt_bg.png") no-repeat;
    background-position: right bottom;
    min-height: 100%;
}
.read-more {
    color: #faa21d;
    font-size: 15px;
    font-style: italic;
    text-decoration: underline;
}
.read-more:hover {
    text-decoration: none;
}
.text .img-href {
    position: relative;
    top: 5px;
    margin-right: 8px;
}
.cop {
    color: #8e7519;
    font-size: 14px;
    margin-left: 100px;
    margin-top: 25px;
    font-weight: 300;
    padding-bottom: 30px;
    clear: both;

}
.copleft {
    margin-left: 20px;
}

.kont  {
    font-size: 20px;
    font-style: italic;
}

.kontakti {
    float: left;
    font-size: 15px;
}

.botton {
    float: right;
    list-style: none;
    margin-right:200px ;
    font-size: 15px;

}

.botton li {
    margin-bottom: 15px;
    background: url("kontakt.png");
    background-position: 0px -17px;
    width: 25px;
    height: 25px;
    cursor: pointer;

}

.botton li a {
    padding-left: 30px;
    margin-bottom: 5px;
    text-decoration: underline;
    font-style: italic;
    color: #969696;

}

.botton .botton1:hover {
    background-position: 24px -17px;
}

.botton .botton2 {
    background-position: 0 -48px;
}
.botton .botton2:hover {
    background-position: 23px -48px;
}
.botton .botton3 {
    background-position: 0 -80px;

}
.botton .botton3:hover {
    background-position: 23px -80px;

}
.botton .botton4 {
    background-position: 0 -111px;
}
.botton .botton4:hover {
    background-position: 23px -111px;
}

.ps p {
    font-size: 15px;
}


/* Посты
====================================================== */
.b-post {
    width: 642px;
    display: inline-block;
    margin-top: 25px;
    float: left;
    margin-left: 20px;
}
.post-item {
    position: relative;
}
.post-item .right-name {
    position: absolute;
    right: 0;
    top:0;
    font-style: italic;
    font-size: 15px;
    color: #7d7d7d;
}
.post-item .post-text{
    margin-top: 10px;
    font-size: 14px;
    text-align: justify;
}
.post-item .post-text a{
    text-decoration: underline;
}
.post-item .post-text a:hover{
    text-decoration: none;
}
.post-item .post-text .second_text{
    color: #595959;
}

.post-item .post-text strong{
    color: #faa21d;
    font-weight: 300;
}
.post-item .post-text h2.blue{
    color: #4ba9de;
}
.post-item .post-text img{
    max-width: 640px;
    margin: 10px 10px 10px 0;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.6);
}
.post-item .post-text .smiley-img{
    box-shadow: none;
    position:  relative;
    top: 25px;
}

.post-item h2 {
    font-size: 20px;
    font-weight: 500;
    color: #aeaeae;
    font-style: italic;
}
.post-item .line {
    width: 642px;
    height: 33px;
    background: url("img/post_line.png") no-repeat;
    margin: 35px 0 35px 0;
}
.post-item .next-read {
    margin-top: 15px;
}
.post-item .next-read img{
    margin-right: 5px;
    position: relative;
    top:4px;
}
.soc-botton {
    margin-top:20px;
}
.wp-pagenavi {
    position: relative;
    top:50px;
    margin-left: 15px;
    clear: both;
}
.wp-pagenavi a, .wp-pagenavi span {
    text-decoration: none;
    padding: 3px 3px;
    margin: 2px;
    font-size: 20px;
    font-style: italic;
}
.wp-pagenavi a:hover, .wp-pagenavi span.current {
    color: #dd8f1c;
}
#disqus_thread {
    margin-top: 50px;
}
/* Сайдбар
====================================================== */
.b-sidebar {
    width: 296px;
    display: inline-block;
    float: left;
    margin-top: 25px;
    margin-left: 25px;
    text-align: justify;
}
.b-sidebar h2 {
    font-size: 20px;
    font-weight: 500;
    color: #55a9de;
    font-style: italic;
    margin-bottom: 10px;
}

.b-sidebar a{
    color: #faa21d;
    text-decoration: underline;
}
.b-sidebar a:hover{
    color: #faa21d;  
    text-decoration: none;
}

.b-sidebar .menu__sb li {
    margin-bottom: 15px;
    margin-left: 15px;
    list-style:none;
    font-size: 17px;
}
.b-sidebar .menu__sb li a{
    color: #949494;
    font-size: 17px;
    text-decoration: none;
}
.b-sidebar .menu__sb li a:hover {
color: #8e7519;
}
.b-sidebar .menu__sb li a span{
    color: #da2d16;
}
/* Страница разработки
====================================================== */
.dev {
    width: 590px;
    height: 340px;
    margin: 0 auto;
    text-align: center;
}
.dev .logo-dev {
    width: 135px;
    height: 132px;
    margin: 0 auto;
}
.dev h1 {
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    color: #cdcdcd;
    margin-top: 40px;
    margin-bottom: 40px;
}
.dev .info {
    padding-top: 40px;
    font-size: 15px;
    color: #898989;
    font-style: italic;
}